.root {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    /*-fx-background-color: #131318;*/
    /*-fx-text-fill: #E5E1E9;*/
    /*-fx-text-base-color: #E5E1E9;*/
    /*-fx-border-color: #928F9A;*/
}

.menu-item {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    /*-fx-text-fill: #E5E1E9;*/
    /*-fx-text-base-color: #E5E1E9;*/
    /*-fx-background-color: #1C1B21;*/
    /*-fx-border-color: #1C1B21;*/
}

.tab-pane .tab-header-area .tab-header-background .tab {
    /*-fx-bar-background: #131318;*/
    /*-fx-background-color: #131318;*/
    -fx-border-radius: 0 0 18 18;
    -fx-background-radius: 0 0 18 18;
}

/*--background: #131318;*/
/*--on-background: #E5E1E9;*/
/*--primary: #C3C0FF;*/
/*--on-primary: #2B2A60;*/
/*--primary-container: #424178;*/
/*--on-primary-container: #E2DFFF;*/
/*--secondary: #C7C4DD;*/
/*--on-secondary: #2F2F42;*/
/*--secondary-container: #464559;*/
/*--on-secondary-container: #E3E0F9;*/
/*--tertiary: #EAB9D2;*/
/*--on-tertiary: #472639;*/
/*--tertiary-container: #603C50;*/
/*--on-tertiary-container: #FFD8EA;*/
/*--error: #FFB4AB;*/
/*--on-error: #690005;*/
/*--error-container: #93000A;*/
/*--on-error-container: #FFDAD6;*/
/*--background-alt: #1C1B21;*/
/*--on-background-alt: #E5E1E9;*/
/*--surface: #131318;*/
/*--on-surface: #E5E1E9;*/
/*--surface-variant: #47464F;*/
/*--on-surface-variant: #C8C5D0;*/
/*--outline: #928F9A;*/
/*--shadow: #000000;*/
/*--inverse-surface: #E5E1E9;*/
/*--inverse-on-surface: #303036;*/
/*--inverse-primary: #595892;*/
/*--primary-fixed: #E2DFFF;*/
/*--on-primary-fixed: #15134A;*/
/*--primary-fixed-dim: #C3C0FF;*/
/*--on-primary-fixed-variant: #424178;*/
/*--secondary-fixed: #E3E0F9;*/
/*--on-secondary-fixed: #1A1A2C;*/
/*--secondary-fixed-dim: #C7C4DD;*/
/*--on-secondary-fixed-variant: #464559;*/
/*--tertiary-fixed: #FFD8EA;*/
/*--on-tertiary-fixed: #2F1124;*/
/*--tertiary-fixed-dim: #EAB9D2;*/
/*--on-tertiary-fixed-variant: #603C50;*/
/*--surface-dim: #131318;*/
/*--surface-bright: #39383F;*/
/*--surface-container-lowest: #0E0E13;*/
/*--surface-container-low: #1B1B21;*/
/*--surface-container: #201F25;*/
/*--surface-container-high: #2A292F;*/
/*--surface-container-highest: #35343A;*/