.root {
    dark-color-primary: #d3bcfd;
    dark-color-surface-tint: #d3bcfd;
    dark-color-on-primary: #38265c;
    dark-color-primary-container: #4f3d74;
    dark-color-on-primary-container: #ebddff;
    dark-color-secondary: #cdc2db;
    dark-color-on-secondary: #342d40;
    dark-color-secondary-container: #4b4358;
    dark-color-on-secondary-container: #e9def8;
    dark-color-tertiary: #f0b7c5;
    dark-color-on-tertiary: #4a2530;
    dark-color-tertiary-container: #643b46;
    dark-color-on-tertiary-container: #ffd9e1;
    dark-color-error: #ffb4ab;
    dark-color-on-error: #690005;
    dark-color-error-container: #93000a;
    dark-color-on-error-container: #ffdada;
    dark-color-background: #151218;
    dark-color-on-background: #e7e0e8;
    dark-color-surface: #151218;
    dark-color-on-surface: #e7e0e8;
    dark-color-surface-variant: #49454e;
    dark-color-on-surface-variant: #cbc4cf;
    dark-color-outline: #948f99;
    dark-color-outline-variant: #49454e;
    dark-color-shadow: #000000;
    dark-color-scrim: #000000;
    dark-color-inverse-surface: #e7e0e8;
    dark-color-inverse-on-surface: #322f35;
    dark-color-inverse-primary: #68548e;
    dark-color-primary-fixed: #ebddff;
    dark-color-on-primary-fixed: #230f46;
    dark-color-primary-fixed-dim: #d3bcfd;
    dark-color-on-primary-fixed-variant: #4f3d74;
    dark-color-secondary-fixed: #e9def8;
    dark-color-on-secondary-fixed: #1f182b;
    dark-color-secondary-fixed-dim: #cdc2db;
    dark-color-on-secondary-fixed-variant: #4b4358;
    dark-color-tertiary-fixed: #ffd9e1;
    dark-color-on-tertiary-fixed: #31101b;
    dark-color-tertiary-fixed-dim: #f0b7c5;
    dark-color-on-tertiary-fixed-variant: #643b46;
    dark-color-surface-dim: #151218;
    dark-color-surface-bright: #3b383e;
    dark-color-surface-container-lowest: #0f0d13;
    dark-color-surface-container-low: #1d1b20;
    dark-color-surface-container: #211f24;
    dark-color-surface-container-high: #2c292f;
    dark-color-surface-container-highest: #36343a;
}

.main-ui-window {
    -fx-background-color: dark-color-surface;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-fill: dark-color-on-surface;
}

.main-ui-menu-bar .main-ui-button-bar {
    -fx-background-color: dark-color-surface-container-high;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.main-ui-menu .main-ui-menu-item .main-ui-split-menu-button .main-ui-button .main-ui-separator-menu-item {
    -fx-background-color: dark-color-surface-container-high;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.main-ui-project-vbox .main-ui-git-vbox {
    -fx-background-color: dark-color-surface-container;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.main-ui-project-treeview .main-ui-git-treeview {
    -fx-background-color: dark-color-surface-container;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: dark-color-on-surface;
}

.main-ui-editor-tab-pane {
    -fx-background-color: dark-color-surface-container-high;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: dark-color-on-surface;
}

.main-ui-editor-tab {
    -fx-background-color: dark-color-surface-container-high;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: dark-color-on-surface;
}

.main-ui-editor-text-area .styled-text-area .collapse .code-area {
    -fx-background-color: dark-color-surface-container-high;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: dark-color-on-surface;
    visibility: collapse;
}

.main-ui-git-toolbar {}

.main-ui-git-text-area {}

.main-ui-git-button {}

.main-ui-bottom-text-area .main-ui-bottom-tab .main-ui-bottom-tab-pane{
    -fx-background-color: dark-color-surface-container-highest;
    -fx-font-weight: normal;
    -fx-fill: dark-color-on-surface;
    -fx-font: 14px "JetBrains Mono";
}

.keyword {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #0033B3;
    -fx-font-weight: bold;
}

.scope {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #00AAAA;
    -fx-font-weight: bold;
}

.comment {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #8C8C8C;
    -fx-font-style: italic;
}

.types {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #CF8E6D;
    -fx-font-weight: bold;
}

.blocks {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #AA0000;
    -fx-font-weight: bold;
}

.string {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #00AA00;
}

.hex {
    -fx-font: 14px "JetBrains Mono";
    -fx-fill: #1750EB;
}